<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Observatory of Economic Complexity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/media/js/libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
      .tab-pane {
        min-height:250px;
      }
			
			hr {
				border-top:3px solid #eeeeee;
				border-bottom:3px solid #ffffff;
			}
			
      .sidebar-nav {
        padding: 9px 0;
      }
			.svg {
				font: 10px sans-serif;
			}

			.bar rect {
			  fill: steelblue;
			}

			.bar:hover rect {
			  fill: brown;
			}

			.value {
			  fill: black;
			}

			.axis {
			  shape-rendering: crispEdges;
			}

			.axis path {
			  stroke: none;
			}

			.x.axis line {
			  stroke: #fff;
			  stroke-opacity: .8;
			}

			.y.axis path {
			  stroke: black;
			}
			
    </style>
    <link href="/media/js/libs/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<style>

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}

		.bar {
		  fill: steelblue;
		}

		.x.axis path {
		  display: none;
		}

		</style>
		
		<style>
		.fig.positive {
		  fill: steelblue;
		}

		.fig.negative {
		  fill: brown;
		}

		.axis text {
		  font: 10px sans-serif;
		}

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}
		
		</style>
		
		<style>
		
		.chart div {
		  font: 10px sans-serif;
		  background-color: steelblue;
		  text-align: right;
		  padding: 3px;
		  margin: 1px;
		  color: white;
		}
		
		.chart rect {
		  stroke: white;
		  fill: steelblue;
		}
		
		.chart .negative {
			fill: brown;
		}
		
		</style>
		
		<style>
		.chart {

		}

		.main text {
		    font: 10px sans-serif;	
		}

		.axis line, .axis path {
		    shape-rendering: crispEdges;
		    stroke: black;
		    fill: none;
		}

		circle {
		    fill: steelblue;
		}

		div.tooltip {   
		  position: absolute;           
		  text-align: center;           
		  width: auto;                  
		  height: auto;                 
		  padding: 2px;             
		  font: 12px sans-serif; 
			color: white;       
		  background: brown;   
		  border: 2px solid tan;      
/*		  border-radius: 4px;           */
		  pointer-events: none;         
		}
		
		</style>
		
		<body>
		<script src="http://d3js.org/d3.v3.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
       <div class="row navbar-inner">
         <div class="container">
           <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </a>
           <div class="nav-collapse collapse">
             <ul class="nav nav-tab">
               <li class="active"><a href="#build" data-toggle="tab">BUILD</a></li>
							 <li><a href="#atlas" data-toggle="tab">ATLAS</a></li>
							 <li><a href="#blog" data-toggle="tab">BLOG</a></li>
							 <li><a href="#about" data-toggle="tab">ABOUT</a></li>
             </ul>
           </div>
         </div>
			</div>		 <!--/.nav-collapse  -->
		</div>
		
    
    
    <div class="tab-content">
      
      <div id="build" class="tab-pane active">
        <!-- Scatterpot & Static Bar Charts-->
        <div class="row">

    			<p class="lead pagination-centered">{{country.name}}, {{country.name_3char}}</p>
		
    			<div class='content pagination-centered'>
			  
    			</div>	
            <!-- Show only M^ figures -->
      			<p class="pagination-centered">"Present"</p>
      			<p class="pagination-centered" id="d1"></p>
      			<p class="pagination-centered" id="d2"></p>
      			<p class="pagination-centered">"Absent"</p>
      			<p class="pagination-centered" id="d3"></p>	
      			<p class="pagination-centered" id="d4"></p>	
            <!-- Display Positive and Negitave values    -->
      			<p class="pagination-centered" id="neg"></p>
  		  </div>
        <!-- Adjustable Bar chart -->
        <div class="row">
    			<p class="pagination-centered"id="chart">
    			<p class="pagination-centered"id="menu"><b>What seems likely to </b>: <select></select>
  		  </div>			
        <!-- Table -->
        <div class="row-fluid">
    			<div class="span12">	
    				<div class="span3 offset3">
    					<p class="lead">
    						Present
    					</p>
    					<table class="table table-bordered table-condensed" id="present">
    						<thead>
    							<tr>
    							  <th>
    							 	  <small>Product</small>
    							  </th>
    							  <th data-sort="float">
    								  <small>M_resid </small><i class="icon-cog"></i>
    						  	</th>
    							</tr>
    						</thead>	
    						{% for cepii in cepii_present %} 
    						<tr class="info">
    							<td>
    								<a href="/hs4/{{cepii.product}}/">{{ cepii.product }}</a>
    							</td>
    							<td>
    								<em>{{cepii.m_resid}}</em>
    							</td>	
    						</tr>
    						{% endfor %}
    					</table>
    				</div>
    				<div class="span3 offset0">
    					<p class="lead">
    						Absent
    					</p>
    					<table class="table table-bordered table-condensed" id="absent">
    						<thead>
    							<tr>
    							  <th>
    							 	  <small>Product</small>
    							  </th>
    							  <th data-sort="float">
    								  <small>M_resid </small><i class="icon-cog"></i>
    						  	</th>
    							</tr>
    						</thead>				
    						{% for cepii in cepii_absent %} 
    						<tr class="error">
    							<td>
    								<a href="/hs4/{{cepii.product}}/">{{ cepii.product }}</a>
    							</td>
    							<td>
    								<em>{{cepii.m_resid}}</em>
    							</td>	
    						</tr>
    						{% endfor %}
    					</table>
    				</div>
      		</div>
        </div>
      </div>
      <div id="atlas" class="tab-pane">
  		  <p class="pagination-centered">Atlas</p>
  		</div>
      <div id="blog" class="tab-pane">
        <div class="span6 offset3">
          <p class="pagination-centered">March 15th: Scatterplot visualization added. Instead of displaying the RCA on a log scale, Riccardo has suggested using Frank Neffke's RCA* figure. This is calculated as <br> RCA* = (RCA-1) / (RCA+1) </p>
          <hr>
        </div>  
      </div>
      <div id="about" class="tab-pane">
        <div class="span6 offset3">
        <blockquote>
          <p class="pagination-centered">The base year of the predictions is 2010; the label for M_hat might be "Predicted export probability" or "Projected export probability." Also, the Country Space is sometimes called the Producer Space.</p>
          <small>Danny Stock <cite title="Source Title"></cite></small>
        </blockquote>
        </div>
      </div>
    </div> <!-- tab content -->
    
    <footer>
        <p class="pagination-centered"> © MIT Media Lab / Harvard Kennedy School Center for International Development</p>
    </footer>

    
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	  <script src="/media/js/libs/jquery/jquery-1.7.1.min.js"></script>	
		<script src="/media/js/libs/chosen/chosen.jquery.min.js" ></script>
		<script src="/media/js/libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="/media/js/libs/jquery/stupidtable.js" ></script>
		<script src="/media/js/libs/d3/highlight.min.js" ></script>
		
		<script>
			  $("#absent").stupidtable();
				$("#present").stupidtable();
		</script>
		
		
		<script>

		var margin = {top: 20, right: 40, bottom: 10, left: 40},
		    width = 960,
		    height = 250 - margin.top - margin.bottom;

		var format = d3.format(".2f"),
		    states,
		    age;

		var x = d3.scale.linear()
		    .range([0, width]);

		var y = d3.scale.ordinal()
		    .rangeRoundBands([0, height], .1);

		var xAxis = d3.svg.axis()
		    .scale(x)
		    .orient("top")
		    .tickSize(-height - margin.bottom)
		    .tickFormat(format);

		var svg = d3.select("#chart").append("svg")
		    .attr("width", width + margin.left + margin.right)
		    .attr("height", height + margin.top + margin.bottom)
		    .style("margin-left", -margin.left + "px")
		  .append("g")
		    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		svg.append("g")
		    .attr("class", "x axis");

		svg.append("g")
		    .attr("class", "y axis")
		  .append("line")
		    .attr("class", "domain")
		    .attr("y2", height)
	    .append("text")
	      .attr("transform", "rotate(-90)")
	      .attr("y", 6)
	      .attr("dy", ".71em")
	      .style("text-anchor", "end")
	      .text("Hs4");
		
		var menu = d3.select("#menu select")
		    .on("change", change);


	  predictions = {{datu|safe}}
		
		var products = d3.keys(predictions).filter(function(key) {
				    return key;
				  });
		menu.selectAll("option")
		   .data(products)			
	    .enter().append("option")
	      .text(function(d) { return d; });
		
		menu.property("value", "disappear");
		
		redraw();


		var altKey;

		d3.select(window)
		    .on("keydown", function() { altKey = d3.event.altKey; })
		    .on("keyup", function() { altKey = false; });

		function change() {
		  clearTimeout(timeout);

		  d3.transition()
		      .duration(altKey ? 7500 : 750)
		      .each(redraw);
		}

		function redraw() {
		  var arg1 = menu.property("value"),
			    change = predictions[arg1]
			 
			/*var age1 = menu.property("value"),
		      top = states.sort(function(a, b) { return b[age1] - a[age1]; }).slice(0, 10); */
			
		  y.domain(change.map(function(d) { return d.hs4; }));

		  var bar = svg.selectAll(".bar")
		      .data(change, function(d) { return d.hs4; });

		  var barEnter = bar.enter().insert("g", ".axis")
		      .attr("class", "bar")
		      .attr("transform", function(d) { return "translate(0," + (y(d.hs4) + height) + ")"; })
		      .style("fill-opacity", 0);

		  barEnter.append("rect")
		      .attr("width", age && function(d) { return x(d.m_resid); })
		      .attr("height", y.rangeBand());

		  barEnter.append("text")
		      .attr("class", "label")
		      .attr("x", -3)
		      .attr("y", y.rangeBand() / 2)
		      .attr("dy", ".35em")
		      .attr("text-anchor", "end")
		      .text(function(d) { return d.hs4; });

			barEnter.append("svg:title")
					.text(function(d) { return d.product; });

		  barEnter.append("text")
		      .attr("class", "value")
		      .attr("x", age && function(d) { return x(d.m_resid) - 3; })
		      .attr("y", y.rangeBand() / 2)
		      .attr("dy", ".35em")
		      .attr("text-anchor", "end");

		  x.domain([0, change[0].m_resid]);

		  var barUpdate = d3.transition(bar)
		      .attr("transform", function(d) { return "translate(0," + (d.y0 = y(d.hs4)) + ")"; })
		      .style("fill-opacity", 1);

		  barUpdate.select("rect")
		      .attr("width", function(d) { return x(d.m_resid); });

		  barUpdate.select(".value")
		      .attr("x", function(d) { return x(d.m_resid) - 3; })
		      .text(function(d) { return d.product; });

		  var barExit = d3.transition(bar.exit())
		      .attr("transform", function(d) { return "translate(0," + (d.y0 + height) + ")"; })
		      .style("fill-opacity", 0)
		      .remove();

		  barExit.select("rect")
		      .attr("width", function(d) { return x(d.m_resid); });

		  barExit.select(".value")
		      .attr("x", function(d) { return x(d.m_resid) - 3; })
		      .text(function(d) { return format(d.m_resid); });

		  d3.transition(svg).select(".x.axis")
		      .call(xAxis);
		}

		var timeout = setTimeout(function() {
		   // menu.property("value", "appear").node().focus();
		   // change();
		}, 5000);

		</script>
		
		<script>
		var datu = {{every|safe}}
		
		var margin = {top: 20, right: 40, bottom: 10, left: 40},
		    Nwidth = 960,
		    Nheight = 450 - margin.top - margin.bottom;
				
		// var x0 = Math.max(-d3.min(datu), d3.max(datu));
		var Nx = d3.scale.linear()
		    .domain([-1, 1])
		    .range([0, Nwidth])
		    .nice();
		
		var Ny = d3.scale.ordinal()
		    .domain(d3.range(datu.length))
		    .rangeRoundBands([0, Nheight], .1);

		var nXAxis = d3.svg.axis()
		    .scale(Nx)
		    .orient("top")
		    .tickSize(-Nheight - margin.bottom)
		    .tickFormat(format);
		
		var neg = d3.select("#neg").append("svg")
		    .attr("width", Nwidth + margin.left + margin.right)
		    .attr("height", Nheight + margin.top + margin.bottom)
		  .append("g")
		    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		neg.selectAll(".fig")
		    .data(datu)
		  .enter().append("rect")
		    .attr("class", function(d) { return d.m_resid < 0 ? "fig negative" : "fig positive"; })
		    .attr("x", function(d) { return Nx(Math.min(0, d.m_resid)); })
		    .attr("y", function(d, i) { return Ny(i); })
		    .attr("width", function(d) { return Math.abs(Nx(d.m_resid) - Nx(0)); })
		    .attr("height", Ny.rangeBand());

		neg.selectAll("text")
		   .data(datu)
		   .enter()
		   .append("svg:a")
			 .attr("xlink:href", function(d){
				 return "/hs4/"+d.hs4;
			 })
			 .attr("class", "value")
			 .append("svg:text")
		   .text(function(d) {
					return d.product;
			})
	     .attr("x", function(d) { return Nx(Math.min(0, d.m_resid)); })
	     .attr("y", function(d, i) { return Ny(i); })
		   .attr("text-anchor", "end")
			 .attr("dy", "1em"); 		

		neg.append("g")
		    .attr("class", "x axis")
		    .call(nXAxis);

		neg.append("g")
		    .attr("class", "y axis")
		  .append("line")
		    .attr("x1", Nx(0))
		    .attr("x2", Nx(0))
		    .attr("y1", 0)
		    .attr("y2", Nheight);
	
		</script>
		<script>
		
		mhph = {{mh_ph|safe}}
		mhpl = {{mh_pl|safe}}
		mhah = {{mh_ah|safe}}
		mhal = {{mh_al|safe}}
		rcas = {{rcas|safe}}
		
		d_width = 700;
		d_height = 150;
		padding = 25;
		
		var x = d3.scale.linear()
		    .domain([0, 1])
				.nice()
		    .range([0, d_width - padding]);
	
	
	  var formatPercent = d3.format("%");
		// CONSTRUCT SVGS
		// 
		var design_one = d3.select("#d1").append("svg")
		    .attr("class", "chart")
				.attr("width", d_width)
				.attr("height", d_height)
				.append("g")
				    .attr("transform", "translate(10,15)");

		var design_two = d3.select("#d2").append("svg")
		    .attr("class", "chart")
				.attr("width", d_width)
				.attr("height", d_height)
				.append("g")
				    .attr("transform", "translate(10,15)");
		
		var design_three = d3.select("#d3").append("svg")
		    .attr("class", "chart")
				.attr("width", d_width)
				.attr("height", d_height)
				.append("g")
				    .attr("transform", "translate(10,15)");									

		var design_four = d3.select("#d4").append("svg")
		    .attr("class", "chart")
				.attr("width", d_width)
				.attr("height", d_height)
				.append("g")
				    .attr("transform", "translate(10,15)");		
		// APPEND RECTANGLE ELEMENTS TO SVGS 
		// 
		design_one.selectAll("rect")
		    .data(mhph)
		  .enter().append("rect")
			  .attr("y", function(d, i) { return i * 20; })
			  .attr("width", function(d) { return x(d.m_hat)})
			  .attr("height", 20);	
		
		design_two.selectAll("rect")
		    .data(mhpl)
		  .enter().append("rect")
			  .attr("y", function(d, i) { return i * 20; })
			  .attr("width", function(d) { return x(d.m_hat)})
			  .attr("height", 20);	

		design_three.selectAll("rect")
		    .data(mhah)
		  .enter().append("rect")
			  .attr("y", function(d, i) { return i * 20; })
			  .attr("width", function(d) { return x(d.m_hat)})
			  .attr("height", 20)
				.attr("class", "negative");	

		design_four.selectAll("rect")
		    .data(mhal)
		  .enter().append("rect")
			  .attr("y", function(d, i) { return i * 20; })
			  .attr("width", function(d) { return x(d.m_hat)})
			  .attr("height", 20)
				.attr("class", "negative");		

		// APPEND Guidelines
    //
		design_one.selectAll("line")
		    .data(x.ticks(10))
		  .enter().append("line")
		    .attr("x1", x)
		    .attr("x2", x)
		    .attr("y1", 0)
		    .attr("y2", 120)
		    .style("stroke", "#ccc");		
		
		design_two.selectAll("line")
		    .data(x.ticks(10))
		  .enter().append("line")
		    .attr("x1", x)
		    .attr("x2", x)
		    .attr("y1", 0)
		    .attr("y2", 120)
		    .style("stroke", "#ccc");	

		design_three.selectAll("line")
		    .data(x.ticks(10))
		  .enter().append("line")
		    .attr("x1", x)
		    .attr("x2", x)
		    .attr("y1", 0)
		    .attr("y2", 120)
		    .style("stroke", "#ccc");		
				
		design_four.selectAll("line")
		    .data(x.ticks(10))
		  .enter().append("line")
		    .attr("x1", x)
		    .attr("x2", x)
		    .attr("y1", 0)
		    .attr("y2", 120)
		    .style("stroke", "#ccc");						
		
		// APPEND labels to bars	
		design_one.selectAll("text")
		    .data(mhph)
		  .enter().append("text")
		    .attr("x", function(d){ return x(d.m_hat); })
		    .attr("y",  function(d, i) { return (i * 20)+10;})
		    .attr("dx", -10) // padding-right
		    .attr("dy", ".35em") // vertical-align: middle
		    .attr("text-anchor", "end") // text-align: right
				.attr("fill","white")
				.text(function(d){ return d.product; });
				
		design_two.selectAll("text")
		    .data(mhpl)
		  .enter().append("text")
		    .attr("x", function(d){ return x(d.m_hat); })
		    .attr("y",  function(d, i) { return (i * 20)+10;})
		    .attr("dx", 0) // padding-right
		    .attr("dy", ".35em") // vertical-align: middle
		    .attr("text-anchor", "start") // text-align: right
				.attr("fill","black")
		    .text(function(d){ return d.product; });

		design_three.selectAll("text")
		    .data(mhah)
		  .enter().append("text")
		    .attr("x", function(d){ return x(d.m_hat); })
		    .attr("y",  function(d, i) { return (i * 20)+10;})
		    .attr("dx", -10) // padding-right
		    .attr("dy", ".35em") // vertical-align: middle
		    .attr("text-anchor", "end") // text-align: right
				.attr("fill","white")
		    .text(function(d){ return d.product; });
				
		design_four.selectAll("text")
		    .data(mhal)
		  .enter().append("text")
		    .attr("x", function(d){ return x(d.m_hat); })
		    .attr("y",  function(d, i) { return (i * 20)+10;})
		    .attr("dx", 0) // padding-right
		    .attr("dy", ".35em") // vertical-align: middle
		    .attr("text-anchor", "start") // text-align: right
				.attr("fill","black")
		    .text(function(d){ return d.product; });				

		// APPEND ticks
		design_one.selectAll(".rule")
		    .data(x.ticks(10))
		  .enter().append("text")
		    .attr("class", "rule")
		    .attr("x", x)
		    .attr("y", 0)
		    .attr("dy", -3)
		    .attr("text-anchor", "middle")
				.attr("font-size", "10px")
				.text(function(d){ return formatPercent(d); });
		
		design_two.selectAll(".rule")
		    .data(x.ticks(10))
		  .enter().append("text")
		    .attr("class", "rule")
		    .attr("x", x)
		    .attr("y", 0)
		    .attr("dy", -3)
		    .attr("text-anchor", "middle")
				.attr("font-size", "10px")
		    .text(function(d){ return formatPercent(d); });
			
		design_three.selectAll(".rule")
		    .data(x.ticks(10))
		  .enter().append("text")
		    .attr("class", "rule")
		    .attr("x", x)
		    .attr("y", 0)
		    .attr("dy", -3)
		    .attr("text-anchor", "middle")
				.attr("font-size", "10px")
		    .text(function(d){ return formatPercent(d); });						

		design_four.selectAll(".rule")
		    .data(x.ticks(10))
		  .enter().append("text")
		    .attr("class", "rule")
		    .attr("x", x)
		    .attr("y", 0)
		    .attr("dy", -3)
		    .attr("text-anchor", "middle")
				.attr("font-size", "10px")
		    .text(function(d){ return formatPercent(d); });	

  //APPEND slight altercations to line
						
		design_one.append("line")
		    .attr("y1", 0)
		    .attr("y2", 120)
		    .style("stroke", "#000");	

		design_two.append("line")
		    .attr("y1", 0)
		    .attr("y2", 120)
		    .style("stroke", "#000");				

		design_three.append("line")
		    .attr("y1", 0)
		    .attr("y2", 120)
		    .style("stroke", "#000");				

		design_four.append("line")
		    .attr("y1", 0)
		    .attr("y2", 120)
		    .style("stroke", "#000");			
		
		var all_prod = {{all_prod|safe}}
		
		</script>
		<script type="text/javascript" src="/media/js/libs/d3/scatterplot.js"></script>
		
		
		
  </body>
</html>